@import "../../styles/colors.scss";

.book-add-button__container {
  background-color: $add-button-bg-color;
  border-radius: 20px;
  color: $add-button-text-color;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
}
