@import "./palette";

//============= Add-Button ==================//
$add-button-bg-color: $royal-purple;
$add-button-text-color: $white;

//============= Header ==================//
$header-bg-color: $white;
$header-border-color: $royal-purple;
$header-text-color: $royal-purple;

//============= Modal ==================//
$modal-bg-color: $white;
$modal-border-color: $royal-purple;
$modal-button-bg-color: $royal-purple;
$modal-button-text-color: $white;
$modal-cover-bg-color: $gray;
$modal-title-bg-color: $royal-purple;
$modal-text-color: #464646;

$book-item-bg-color: #f5fafd;
$book-item-border-color: #dddbdb;
$book-item-hover-bg-color: #eae8f0;

$book-item-category-bg-color: cadetblue;
$book-item-category-text-color: $white;

$book-item-delete-bg-color: #e78d8d;
$book-item-delete-text-color: white;

$scrollbar-bg-color: #e2eaf8;
$scrollbar-thumb-color: #000000;
$scrollbar-track-color: #e7ecf5;

$box-shadow: rgba(0, 0, 0, 0.25);
