$medium-device-min-width: 768px;

@mixin flex-view($dir: row, $justify-content: unset, $align-items: unset) {
  align-items: $align-items;
  display: flex;
  flex-direction: $dir;
  justify-content: $justify-content;
}

@mixin flex-center-view($dir: row) {
  @include flex-view($dir, center, center);
}
