@import "../../styles/_colors.scss";
@import "../../styles/_display.scss";

.header__container {
  @include flex-view(row, space-between, center);
  background-color: $header-bg-color;
  border-bottom: 2px solid $header-border-color;
  color: $header-text-color;
  height: 60px;
  padding: 0px 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2001;

  .header__title {
    @include flex-view(row, flex-start, center);
    gap: 10px;

    span {
      color: $header-text-color;
      /* font-family: Loftygoals; */
      font-size: 18px;
      margin-top: 5px;
      white-space: nowrap;
    }
  }
}

@media (min-width: $medium-device-min-width) {
  .header__title {
    span {
      font-size: 20px !important;
    }
  }
}
