@import "../../styles/colors.scss";
@import "../../styles/display.scss";

.book-editor__container {
  @include flex-view(column, flex-start, center);
  gap: 20px;
  padding: 10px;
  width: 100%;

  .book-editor__rows {
    @include flex-view(column, flex-start, center);
    gap: 20px;
    width: 100%;
  }

  .book-editor__row {
    @include flex-view(row, space-between, center);
    width: 100%;

    .book-editor__row-name,
    .book-editor__row-desc {
      width: 100%;
    }

    .book-editor__row-price,
    .book-editor__row-category {
      width: 46%;
    }

    .book-editor__save-btn {
      background-color: $modal-button-bg-color;
      color: $modal-button-text-color;
      width: 50%;
    }
  }

  .book-editor__submit-row {
    @include flex-center-view(row);
    width: 100%;
  }
}
